h2 {
  color:black;
}
h1 {
  color:dark black;
}
header {
  text-align: center;
  background:rgb(187,19,62);
  background-size: cover;
  color:rgba(12, 12, 158, 0.671);
}
.whitelink {
  color: black;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

article{
  max-width:500px;
  padding:20px;
  margin:0 auto;
}

img {
  margin: 40px 0px 0px 0px;
  border:6px solid white;
  border-radius: 20px;
}

h1 {
  font-size: 50px;
  font-family: "Life Savers", serif;
  font-weight: 800;
  font-style: normal;
}

h2 {
  font-size: 30px;
  font-family: "Life Savers", serif;
  font-weight: 800;
  font-style: normal;
}

p {
  font-size: 15px;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}


